.prose {
  @apply w-full text-tx;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-zinc-300 dark:text-zinc-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply underline decoration-gray-3 underline-offset-[0.25rem] transition-all dark:decoration-black-8;
}

.prose img {
  /* Don't apply styles to next/image  */
  @apply m-0 mb-[2rem] mt-[1rem];
}

.prose p {
  @apply my-4 leading-[150%];
}

.prose h1 {
  @apply text-balance text-2xl font-extrabold text-slate-900 md:text-4xl;
}

.prose h2 {
  @apply mb-[1rem] mt-[2rem] text-balance text-2xl font-medium tracking-tight pc:text-[1.7rem];
}

.prose h3 {
  @apply mb-[1rem] mt-[2rem] text-balance text-xl font-medium tracking-tight pc:text-2xl;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift  */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose blockquote {
  @apply border-l-4 border-primary-blue pl-[1rem];
}

/*  Remove Safari input shadow on mobile  */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose table {
  empty-cells: hide;
  @apply md:text-sm;
}
